@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_overrides.scss";

:root {
  --grey: #f6f6f6;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Cabin',
    sans-serif;
  background: #1D293E;
  color: whitesmoke;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #6f64e7;
  border-radius: 10px;
}


main {
  flex-grow: 1;
  display: flex;
}

router-link {
  color: #6f64e7
}